ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul li {
    cursor: pointer;
    user-select: none;
    overflow-x: hidden;
}
li > div {
    pointer-events: none;
}
.desc {
    height: 0;
    transition: height .2s;
}
li.show .desc {
    height: 40px;
}