.row_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card {
    min-width: 250px;
    background-color: #9e9090;
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_left, .card_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.card_right {
    align-items: center;
}